{{> head}}
{{> navbar}}


<div class="row">

<div class="col-8">

<h1> Gato</h1>
<p>

Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, ab suscipit aliquid culpa consequatur numquam iste sunt qui dignissimos repudiandae magni. Doloremque et consectetur fugit nostrum quos minus impedit dolorem.

</p>

</div>

<div class=" col-4">

<img src="assets/img/gato.jpg" class="img-thumbnail">


</div>


    </div>



  {{> footer}}
